@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: #000;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
}

.wrap {
  position: relative;
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px;

    h1 {
        text-align: center;
        color: #fff;
        letter-spacing: .2rem;
        font-family: 'Alegreya', serif;
    }
}

.game {
	transform-style: preserve-3d;
	perspective: 500px;
	min-height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .5rem;
    }
}

@mixin width($max){
	@media (max-width: $max){
		@content;
	}
}

@keyframes matchAnim {
	0% {
		background: #bcffcc;
	}
	100% {
		background: white;
	}
}

.card {
    float: left;
    width: 100%;
    height: 10rem;
    text-align: center;
    display: block;
    perspective: 500px;
    position: relative;
    cursor: pointer;
    z-index: 50; 
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
    @include width(800px){
        width: 100%;
        height: 6rem;
    }
    
	.inside {
		width: 100%;
		height: 100%;
        display: flex;
		transform-style: preserve-3d;
		transition: .4s ease-in-out;
		background: white;
        border-radius: 1rem;transition: .3s;

        @media screen and (width > 800px) {
            &:hover {
                background-color: #333;
                color: #ddd;
                border: 2px solid #fff
            }
            
        }

		&.picked, &.matched {
			transform: rotateY(180deg);

            &:hover {
                background-color: #fff;
                color: #000;
                border: none
            }
		}
		&.matched {
			animation: 1s matchAnim ease-in-out;
			animation-delay: .4s;
		}
	}

  .front, .back {
  	border: 1px solid black;
  	backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	padding: .3rem;

  	img {
  		max-width: 100%;
  		display: block;
  		margin: 0 auto;
  		max-height: 100%;
        position: relative;
  	}
  }
  .front {
  	transform: rotateY(-180deg);
  	@include width(800px){
  		padding: 5px;
  	}
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .back{
		display: flex;
        align-items: center;
        justify-content: center;

        & > i{
            font-size: 3rem;
        }
  	}
  }


.modal-overlay {
	display: none;
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}